<!DOCTYPE html>

%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if user_signed_in?
      = current_user.name
      = image_tag current_user.avatar_url
      %br/
      = link_to "logout", [:logout, :authentications]
    - else
      = link_to "Facebook", "/auth/facebook" 


    = yield
